language: python
cache:
  pip: true
  directories:
  - $HOME/.cache/pip
before_cache:
- rm -f $HOME/.cache/pip/log/debug.log
notifications:
  email: false
stages:
- check
- test
jobs:
  include:
  - stage: test
    python: 2.6
    env: TOXENV=py26
    dist: trusty
  - python: 2.7
    env: TOXENV=py27
  - python: 3.4
    env: TOXENV=py34
  - python: 3.5
    env: TOXENV=py35
  - python: 3.6
    env: TOXENV=py36
  - python: 3.7
    env: TOXENV=py37
  - python: pypy2.7-7.1.1
    env: TOXENV=pypy
  - python: pypy3.6-7.1.1
    env: TOXENV=pypy3
  - stage: check
    python: 3.7
    env: TOXENV=flake8
  - python: 3.7
    env: TOXENV=setup.py
before_install:
- git fetch --tags
install:
- pip install tox
- pip install .
script:
- tox
